[defaults]
inventory: targets.yaml
gathering: smart
nocolor: True
#remote_tmp: /tmp/.ansible/tmp
#enable_task_debugger: True

# Uncomment 'remote_user' and 'private_key_file' to set the default remote user as "root"
# using the key specified in 'private_key_file'. This will automatically trigger privileged command
# collect without requiring a password.
#remote_user: root
#private_key_file: /path/to/key

# Uncomment 'host_key_checking' to avoid errors when SSH'ing without keys for
# the first time
#host_key_checking: false

[inventory]
enable_plugins: host_list, yaml

[privilege_escalation]
# Uncomment 'become_ask_pass' to trigger privilleged command collect
#become_ask_pass: True
#become_method: su
#become_allow_same_user: True
