[defaults]
inventory: targets.yaml
gathering: smart
nocolor: True
#remote_tmp: /tmp/.ansible/tmp
#enable_task_debugger: True

# Uncomment 'host_key_checking' to avoid errors when SSH'ing without keys for
# the first time
#host_key_checking: false

[inventory]
enable_plugins: host_list, yaml

[privilege_escalation]
# Uncomment 'become_ask_pass' to trigger privilleged command collect
#become_ask_pass: True
#become_method: su
#become_allow_same_user: True
