// =============================================================================
// Copyright 2023 National Technology & Engineering Solutions of Sandia, LLC
// (NTESS). Under the terms of Contract DE-NA0003525 with NTESS, the U.S.
// Government retains certain rights in this software.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
// =============================================================================
// Maintained by Sandia National Laboratories <Netmeld@sandia.gov>
// =============================================================================

digraph netmeld {
  rankdir=LR;
  nodesep=0.5;
  ranksep=0.5;
  newrank=true;
  splines=spline;
  compound=true;
  //concentrate=true; // NOTE: this incorrectly "hides" some lines

  label="Netmeld Tool Suite 2.x -- Datastore Components and General Dataflow";

  node[shape="circle"];
  users [label="End\nUsers"];


  subgraph cluster_bin {
    label="Binary Resources\n(Includes Sub-Module Binaries)";
    style="dashed";

    node[shape="rectangle", margin=0.1];
    bins_ [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_bins__count}">Datastore<br/>Bin(s)</td></tr>
  ${ds_bins__list}
      </table>>];
    bins_exporters [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_bins_exporters_count}">Exporter<br/>Bin(s)</td></tr>
  ${ds_bins_exporters_list}
      </table>>];
    bins_graphers [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_bins_graphers_count}">Grapher<br/>Bin(s)</td></tr>
  ${ds_bins_graphers_list}
      </table>>];
    bins_importers [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_bins_importers_count}">Importer<br/>Bin(s)</td></tr>
  ${ds_bins_importers_list}
      </table>>];
    bins_inserters [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_bins_inserters_count}">Inserter<br/>Bin(s)</td></tr>
  ${ds_bins_inserters_list}
      </table>>];

    bins_importers -> {rank=same; bins_ bins_exporters bins_graphers bins_inserters} [style="invis"];
    {}
  };



  subgraph cluster_lib {
    label="Library Resources";
    style="dashed";

    node[shape="rectangle",margin=0.1];
    objects [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_libs_objects_count}">Object(s)</td></tr>
${ds_libs_objects_list}
      </table>>];
    parsers [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_libs_parsers_count}">Parser(s)</td></tr>
${ds_libs_parsers_list}
      </table>>];
    tools [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_libs_tools_count}">Tool(s)</td></tr>
${ds_libs_tools_list}
      </table>>];
    utils [label=<
      <table border="0" cellborder="1" cellspacing="0" cellpadding="4">
        <tr><td rowspan="${ds_libs_utils_count}">Util(s)</td></tr>
${ds_libs_utils_list}
      </table>>];

    schemas [label="Schema(s)"];
  }

  subgraph cluster_datastore {
    label="Data Store(s)";
    style="dashed";

    node [shape="cylinder"];
    psqldb [label="PostgreSQL Database"];
  }


  {rank=same; schemas psqldb};

  users->bins_ [lhead="cluster_bin"];
  users->psqldb [dir="both"];
  schemas->psqldb;
  objects->psqldb [dir="both", lhead="cluster_datastore"];
  bins_->tools [ltail="cluster_bin", lhead="cluster_lib"];
  bins_:init->psqldb;
  bins_:remove->psqldb;
  tools->{parsers objects utils};
  tools:dstool->psqldb [lhead="cluster_datastore"];
  parsers->{objects utils};
  objects->utils;
}
